<!DOCTYPE html>
<html lang="en"> 
<head>
<title>Black</title>

<!-- Meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">

<!-- FontAwesome JS-->
<script defer src="assets/fontawesome/js/all.min.js"></script>

<!-- Theme CSS -->  
<link id="theme-style" rel="stylesheet" href="assets/css/theme.css">

</head> 

<body>    
<header class="header fixed-top">
	<div class="branding docs-branding">
		<div class="container-fluid position-relative py-2">
			<div class="docs-logo-wrapper">
				<div class="site-logo"><a class="navbar-brand" href="/"><span class="logo-text">Black<span class="text-alt"></span></span></a></div>
			</div><!--//docs-logo-wrapper-->
		</div><!--//container-->
	</div><!--//branding-->
</header><!--//header-->


<div class="page-header theme-bg-dark py-5 text-center position-relative">
	<div class="theme-bg-shapes-right"></div>
	<div class="theme-bg-shapes-left"></div>
	<div class="container">
		<h1 class="page-heading single-col-max mx-auto">BlackIPSearch</h1>
		<div class="page-intro single-col-max mx-auto">Enter the IP and click the search button.</div>
		<div class="main-search-box pt-3 d-block mx-auto">
			 <form class="search-form w-100" action="gets" method="get">
				<input type="text" placeholder="Search the IP..." name="ip" class="form-control search-input">
				<button type="submit"  class="btn search-btn" ><i class="fas fa-search"></i></button>
			</form>
		 </div>
	</div>
</div><!--//page-header-->
<div class="page-content">
	<div class="container">
		<div class="docs-overview py-5">
			<div class="row justify-content-center">
				<div class="col-12 col-lg-4 py-3">
					<div class="card shadow-sm">
						<div class="card-body">
							<h5 class="card-title mb-3">
								<span class="theme-icon-holder card-icon-holder mr-2">
									<i class="fas fa-map-signs"></i>
								</span><!--//card-icon-holder-->
								<span class="card-title-text">Lable</span>
							</h5>
							<div class="card-text" id="Lable">
							{{.lable}}
							</div>
							<a class="card-link-mask" href="#"></a>
						</div><!--//card-body-->
					</div><!--//card-->
				</div><!--//col-->
				<div class="col-12 col-lg-4 py-3">
					<div class="card shadow-sm">
						<div class="card-body">
							<h5 class="card-title mb-3">
								<span class="theme-icon-holder card-icon-holder mr-2">
									<i class="fas fa-box fa-fw"></i>
								</span><!--//card-icon-holder-->
								<span class="card-title-text">Country</span>
							</h5>
							<div class="card-text" id="Country">
							{{.country}}
							</div>
							<a class="card-link-mask" href="##section-3"></a>
						</div><!--//card-body-->
					</div><!--//card-->
				</div><!--//col-->
				<div class="col-12 col-lg-4 py-3">
					<div class="card shadow-sm">
						<div class="card-body">
							<h5 class="card-title mb-3">
								<span class="theme-icon-holder card-icon-holder mr-2">
									<i class="fas fa-cogs fa-fw"></i>
								</span><!--//card-icon-holder-->
								<span class="card-title-text">Area</span>
							</h5>
							<div class="card-text" id="Area">
							{{.area}}
							</div>
							<a class="card-link-mask" href="##section-4"></a>
						</div><!--//card-body-->
					</div><!--//card-->
				</div><!--//col-->
			</div><!--//row-->
		</div><!--//container-->
	</div><!--//container-->
</div><!--//page-content-->

<footer class="footer">
	<div class="footer-bottom text-center py-5">
		<small class="copyright">Copyright &copy; 2021.Company name All rights reserved.</small>
	</div>
</footer>


<!-- Javascript -->          
<script src="assets/plugins/jquery-3.4.1.min.js"></script>
<script src="assets/plugins/popper.min.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>  

</body>
</html> 

